[Unit]
Description=Before Suspend
Before=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/bin/logger -t suspend -s "before suspend"

[Install]
WantedBy=suspend.target
