[Unit]
Description=Record the New Creation Church Live sermon
After=network-online.target

[Service]
Type=oneshot
User=sebastien
Group=sebastien
#UMask=026
ExecStart=/usr/local/bin/record_NCC_Live_Then_Suspend.sh
