[Unit]
Description=Mount /usr/local
After=local-fs.target

[Mount]
What=LABEL="/usr/local"
Where=/usr/local
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target
