[Desktop Entry]
Categories=Network;GTK;
Exec=anydesk --tray %u
GenericName=AnyDesk
Hidden=true
Icon=anydesk
MimeType=x-scheme-handler/anydesk;
Name=AnyDesk
Name[de_DE]=AnyDesk
Terminal=false
TryExec=anydesk
Type=Application
X-GNOME-FullName=AnyDesk
