#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=conky -p 15 -d
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Conky
Comment=

