#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=sh "/usr/local/bin/conky-startup.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Conky
Comment=

