#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=Allows you to open the application launcher using the Super key
Exec=ksuperkey
Name=ksuperkey
NoDisplay=false
Type=Application
X-GNOME-Autostart-enabled=true
