#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[en_US]=
Comment=
Exec=numlockx on
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=Numeric keypad
Name=Numeric keypad
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
