[Desktop Entry]
Categories=Network;Application;
Encoding=UTF-8
Exec=/usr/bin/teams %U
Hidden=true
Icon=teams
MimeType=x-scheme-handler/msteams;
Name=Microsoft Teams - Preview
StartupNotify=false
Terminal=false
Type=Application
Version=1.0
X-GNOME-Autostart-enabled=true
X-KDE-Protocols=teams
