const CUSTOM_PERMISSIONS = {
    // fixes udisk2 issue with lm-sensor where it prompts for root password after suspend -> resume
    "org.freedesktop.udisks2.ata-smart-update": polkit.Result.YES
};

polkit.addRule(function (action, subject) {
    if (subject.user == "YOUR_USERNAME_HERE" && action.id in CUSTOM_PERMISSIONS) {
        return CUSTOM_PERMISSIONS[action.id];
    }

    return polkit.Result.NOT_HANDLED;
});
