#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Videos Justice de Dieu
Exec=mpv --profile=sd https://www.youtube.com/c/JusticedeDieuMinistry/videos
Terminal=false
