#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Cantiques Spirituels
Exec=mpv.sh --profile=sd,playlist https://www.youtube.com/playlist?list=PLRv5TPGK6Ktyh_De4jvqex2qVJLwl0HJH
Terminal=false
