[Desktop Entry]
Exec=freetube --new-window "https://www.youtube.com/channel/UClEwtThNimLEnrQhRg__YwQ"
Comment=Browse and search videos from YouTube
GenericName=YouTube Browser for SMPlayer
Icon=freetube
Name=Jean Bosco Kindomba - AaLTernative TV
Type=Application
Categories=Qt;KDE;AudioVideo;Player;Video;
