[Desktop Entry]
Exec=freetube --new-window "https://www.youtube.com/channel/UCkQ9ZK48EZ9xkXNZVses4Sw
Comment=Browse and search videos from YouTube
GenericName=YouTube Browser for SMPlayer
Icon=freetube
Name=Abel Damina Ministries International
Type=Application
Categories=Qt;KDE;AudioVideo;Player;Video;
