[Desktop Entry]
Exec=smtube -url "http://www.tonvid.com/search.php?channelId=UCRO1GwyO5cRJvqxzXN4zX_g&channelTitle=Ministère+Justice+de+Dieu"
Comment=Browse and search videos from YouTube
GenericName=YouTube Browser for SMPlayer
Icon=smtube
Name=Just.de D
Type=Application
Categories=Qt;KDE;AudioVideo;Player;Video;
