[Desktop Entry]
Exec=freetube --new-window "http://www.tonvid.com/search.php?channelId=UClEwtThNimLEnrQhRg__YwQ&channelTitle=AaLTernative+TV"
Comment=Browse and search videos from YouTube
GenericName=YouTube Browser for SMPlayer
Icon=freetube
Name=Jean Bosco Kindomba - AaLTernative TV
Type=Application
Categories=Qt;KDE;AudioVideo;Player;Video;
