[Desktop Entry]
Exec=freetube --new-window "http://www.tonvid.com/search.php?channelId=UCIXJjg_Ws_KucPYq5U-5GOA
Comment=Browse and search videos from YouTube
GenericName=YouTube Browser for SMPlayer
Icon=freetube
Name=Timothy Virge - Gospel of Grace podcast
Type=Application
Categories=Qt;KDE;AudioVideo;Player;Video;
