[Desktop Entry]
Exec=smtube -url "http://www.tonvid.com/search.php?channelId=UCNb2H0PwlajFSmfjgfDdKvA&channelTitle=J%C3%A9sus+le+CHRIST+T%27aime+Eternellement"
Comment=Browse and search videos from YouTube
GenericName=YouTube Browser for SMPlayer
Icon=smtube
Name=Jésus le CHRIST T'aime Eternellement
Type=Application
Categories=Qt;KDE;AudioVideo;Player;Video;
