[Desktop Entry]
Exec=freetube --new-window "https://www.youtube.com/channel/UCRO1GwyO5cRJvqxzXN4zX_g"
Comment=Browse and search videos from YouTube
GenericName=YouTube Browser for SMPlayer
Icon=freetube
Name=Just.de D
Type=Application
Categories=Qt;KDE;AudioVideo;Player;Video;
