[Desktop Entry]
Exec=smtube -url "http://www.tonvid.com/search.php?channelId=UCIXJjg_Ws_KucPYq5U-5GOA&channelTitle=Gospel+of+Grace+podcast+Timothy+and+Lisa"
Comment=Browse and search videos from YouTube
GenericName=YouTube Browser for SMPlayer
Icon=smtube
Name=Timothy Virge - Gospel of Grace podcast
Type=Application
Categories=Qt;KDE;AudioVideo;Player;Video;
