[Desktop Entry]
Exec=freetube --new-window "https://www.youtube.com/channel/UCNb2H0PwlajFSmfjgfDdKvA
Comment=Browse and search videos from YouTube
GenericName=YouTube Browser for SMPlayer
Icon=freetube
Name=Jésus le CHRIST T'aime Eternellement
Type=Application
Categories=Qt;KDE;AudioVideo;Player;Video;
