[Desktop Entry]
Exec=freetube --new-window "http://www.tonvid.com/search.php?channelId=UCkQ9ZK48EZ9xkXNZVses4Sw&channelTitle=Abel+Damina+Ministries+International"
Comment=Browse and search videos from YouTube
GenericName=YouTube Browser for SMPlayer
Icon=smtube
Name=Abel Damina Ministries International
Type=Application
Categories=Qt;KDE;AudioVideo;Player;Video;
