[Desktop Entry]
Exec=freetube --new-window "http://www.tonvid.com/search.php?q=joel+osteen&order=relevance&videoDefinition=any&date_filter=any&safeSearch=none&videotype=any&videoDuration=long"
Comment=Browse and search videos from YouTube
GenericName=YouTube Browser for SMPlayer
Icon=smtube
Name=Joel Osteen
Type=Application
Categories=Qt;KDE;AudioVideo;Player;Video;
