#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=LIVE JP
Exec=mpv.sh --profile=sd,live https://www.youtube.com/c/JosephPrinceOnline/live
Terminal=false
