#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=LIVE JP
Exec=mpv --profile=fsd,live https://www.youtube.com/user/JosephPrinceOnline/live
Terminal=false
