#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=LIVE JdD
Exec=mpv.sh --profile=no-sub,fsd,live https://www.youtube.com/c/MinistereJusticedeDieu/live
Terminal=false
