#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=LIVE JdD
Exec=mpv --ytdl-format=93 https://www.youtube.com/c/JusticedeDieuMinistry/live
Terminal=false
