#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Vids JdD
Exec=mpv --profile=sd https://www.youtube.com/c/MinistereJusticedeDieu/videos?sort=dd
Terminal=false
