#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Vids JdD from Older
Exec=mpv.sh --profile=no-sub,sd https://www.youtube.com/c/MinistereJusticedeDieu/videos?sort=da
Terminal=false
