#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=New Creation Church - Praise
Exec=mpv.sh --profile=fsd https://www.youtube.com/playlist?list=PLRv5TPGK6KtysulrkKpaCWzAlFZkedc2B
Terminal=false
