#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=NCC LIVE
Exec=mpv --ytdl-format=94 https://www.youtube.com/user/NewCreationChurch/live
Terminal=false
