#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Worship by NCC
Exec=mpv.sh --profile=sd https://www.youtube.com/playlist?list=PLRv5TPGK6KtzQbPWB0Etd_5nrX6aNHzQF
Terminal=false
