#!/usr/bin/env dex
[Desktop Entry]
Type=Link
Name=Justice de Dieu Ministry - YouTube
URL=https://www.youtube.com/c/JusticedeDieuMinistry/videos
Icon=text-html
